@model HomeViewModel

<div class="card text-white" style="padding:10px; background-color: #192023">
    <partial name="_Carousel" />
</div>

@if (Model.LanchesPreferidos.Any())
{
    <div class="container-fluid">
        <div class="row">
            <div style="padding:20px">
                <h2>Os Peferidos da Semana!!!</h2>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var lanche in Model.LanchesPreferidos)
        {
            <partial name="_LanchesResumo" for="@lanche" />
        }
    </div>
}


