<br />
<a asp-area="" asp-controller="Home" asp-action="Index">
    <img src="~/imagens/negado1.jpg" alt="Área de Administração" class="marginTop1" />
</a>
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Acesso não autorizado</h2>
        </p>
        <div>
            <a asp-area="" asp-controller="Home" asp-action="Index"><h5>Voltar a Home Page</h5></a>
        </div>
    </div>
</div>