
<br/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <img src="~/Imagens/adminarea-removebg-preview.png" class="img-fluid" alt="Área de Administração" />
                <div class="jumbotron">
                    <p>
                        <h2>Esta é a área do Administrador</h2>
                    </p>
                    <div>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-outline-dark"><h4>Voltar para Página Inicial</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br/>
