<div class="container-fluid">
    <img src="~/Imagens/faleconosco1.jpg" class="img-fluid" alt="Fala conosco"/>
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>Se tiver alguma dúvida ou sugestao fale conosco</p>
        <p>
            <span>
                <img src="~/imagens/email_30017.png" style="max-width:35px" />
            </span>
            <h5><email endereco="moisessilvagsp@outlook.com" conteudo="Enviar um e-mail">exemplo@outlook.com</email></h5>
            <br />
            <span>
                <img src="~/imagens/phone_43546.png" style="max-width:35px" />
            </span>
            <h5>(00) 0 0000-0000</h5>
            <br />
            <span>
                <img src="~/imagens/home_243.png" style="max-width:35px" />
            </span>
            <h5>Av. Por Exemplo 1000 - CEP: 00000-000 - São Paulo</h5>
        </p>
    </div>
</div>